@import "vars";
@import "mixins";
@import "vendor/reset";
@import "vendor/swiper-bundle.min";
@import "vendor/bootstrap-grid.min";

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    &:hover {
        color: #000;
    }
}

body {
    background-color: #fcfcfc;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.4rem;
    line-height: 1.5;
    color: #2c3136;;

    &.no-scroll,
    &.show-sidebar {
        overflow: hidden;
    }

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Blocks */
@import "blocks/page";
@import "blocks/btn";
@import "blocks/header";
@import "blocks/footer.scss";
@import "blocks/burger";
@import "blocks/typography";
@import "blocks/form";
@import "blocks/select-ui.scss";
@import "blocks/mobile-menu.scss";
@import "blocks/helper.scss";

@import "blocks/intro";
@import "blocks/services";
@import "blocks/advantages";
@import "blocks/success";
@import "blocks/slider";
@import "blocks/application";
@import "blocks/feedback";
@import "blocks/contacts";
@import "blocks/tabs-ui";
@import "blocks/request";
@import "blocks/services-application";
@import "blocks/stages-work.scss";
@import "blocks/package.scss";
@import "blocks/projects.scss";
@import "blocks/about-project.scss";
@import "blocks/company.scss";
@import "blocks/people.scss";
@import "blocks/people-card.scss";
@import "blocks/logos.scss";
@import "blocks/embed.scss";
@import "blocks/loader.scss";
@import "blocks/info-page.scss";


