.banner-project {
    background: url('../images/banner/project-bg.png') center no-repeat;
    background-size: cover;
}

.banner-project__inner {
    padding: 87px 0 76px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.banner-project__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.about-project {

}

.about-project__link {
    margin-bottom: 50px;
}

.about-project__title {
    margin-bottom: 25px;
}

.about-project__text {
    margin-bottom: 70px;
}

.about-project-sliders {

}

.about-project-sliders__title  {
    margin-bottom: 55px;
}