.advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @include breakpoint($bp-991) {
        padding: 0;
    }
}

.advantages__item {
    width: 33.33333%;
    margin-bottom: 60px;
    
    @include breakpoint($bp-991) {
        padding: 0 15px;
        margin-bottom: 45px;
        width: 50%;
    }

    @include breakpoint($bp-575) {
        padding: 0 15px;
        width: 100%;
    }
}

.advantages__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    &:hover .advantages__img {
        background: linear-gradient(133.93deg, #fda05d 15.61%, #febb02 85.11%);
        box-shadow: 0px 16px 24px -8px #eb652c33;

        &::after {
            background: #ffd151;
            opacity: 0.08;
        }
    }
}

.advantages__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    margin-bottom: 35px;

    background: linear-gradient(133.93deg, #aaaaaa 15.61%, #d7d7d7 85.11%);
    border-radius: 50%;
    box-shadow: 0px 16px 24px -8px #AFAFAF33;
    position: relative;

    &::after{
        content: "";
        display: block;
        width: 86px;
        height: 86px;
        border-radius: 50%;
        background: #787878;
        opacity: 0.08;
        z-index: -1;
        position: absolute;
    }
}

.advantages__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #323232;
}