.nav-links {
    padding: 20px 0 16px;
    overflow: hidden;

    @include breakpoint($bp-767) { 
        padding: 0 0 16px;
    }
}

.nav-links__inner {
    display: flex;
    margin: 0 -15px;
    
    @include breakpoint($bp-767) {
        overflow-x: auto;
    }
}

.nav-links__item {
    padding: 0 15px;
}

.nav-links__link {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #2b2e3f;
    text-decoration: none;
    white-space: nowrap;

    &--active {
        color: #0071c2;
    }
}