.package {
    
}

.package__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-bottom: 24px;

    @include breakpoint(1200px) { 
        justify-content: space-around;
    }

    @include breakpoint($bp-991) {
        margin-bottom: 20px;
    }
}

.package__item {
    padding: 0 10px;
    width: 33.33333%;

    @include breakpoint(1200px) {
        width: 50%;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include breakpoint($bp-767) {
        width: 100%;
    }
}

.package__card {
    padding: 50px 30px 60px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    text-align: center;

    &--green {
        background: #1ea06c;

        & .package__title,
        .package__price,
        .package__text,
        .package__btn {
            color: #fff;
        }

        & .package__link {
            background: #fff;
            color: #2b2e3f;
        }

        & .package__text::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            margin: 30px auto;
            background: #fff;
        }

        & .package__content {
            li {
                color: #fff;

                &::after {
                    background-image: url('../images/check-white.svg');
                }
            }
           
        }


    }

    @include breakpoint($bp-991) {
        padding: 50px 20px 60px;
    }
}

.package__title {
    margin-bottom: 22px;

    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    color: #2C3136;
}

.package__price {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #1ea06c;
}

.package__value {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}

.package__month {
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
}

.package__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #3c3c3c;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        margin: 30px auto;
        background: #4f4f4f;
    }

    @include breakpoint($bp-991) {
        font-size: 16px;
        line-height: 21px;
    }
}

.package__content {
    opacity: 0;
    max-height: 0;
    visibility: hidden;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: rgba(21, 20, 57, 0.4);
    transition: max-height 0.5s linear, opacity 0.3s linear, visibility 0.3s linear, padding 0.3s linear;

    &.active {
        padding: 0 0 45px;
        max-height: 700px;
        opacity: 1;
        visibility: visible;
    }
}

.package__list {
    li {
        list-style: disc;
        list-style-position: inside;
        margin-bottom: 9px;
        padding-left: 30px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        &::after {
            content: "";
            display: block;
            background-image: url('../images/check-green.svg');
            background-size: 100% 100%;
            width: 15px;
            height: 10px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }

    li::marker {
        content: "";
    }
}

.package__btn {
    display: inline-block;
    padding: 0;
    margin-bottom: 44px;

    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #3c3c3c;
    text-decoration: none;
    text-align: center;

    border: none;
    background: none;

    transition: all .2s linear;

    &:hover {

    }
}

.package__link {
    display: block;
    height: 54px;
    padding: 12px 8px;

    background: #1ea06c;

    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: #fff;
    text-decoration: none;
}

.package__note {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #787878;
}