.people__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.people__item {

    &--text {
        max-width: 900px;
    }
}

.people__btn {
    text-align: center;

    .btn {
        height: 50px;
    }

    @include breakpoint($bp-767) {
        display: none;
    }
}