.swiper-container {
    position: relative;
}

.slider-swiper {
    max-width: 1000px;
    padding: 10px;

    &--project {
        max-width: unset;
        padding: 0;
    }

    &--people {
        max-width: 100%;
        padding: 0;
        margin-bottom: 45px;
        overflow: unset;

        @include breakpoint($bp-767) {
            margin-bottom: 0;
        }
    }


    @include breakpoint($bp-991) {
        padding: 5px;
    }
}

.swiper-slide {
    @include breakpoint($bp-991) {
        &--mobile {
            width: 292px;
        }
    }

    &--people {
        width: auto;
        background: linear-gradient(133.93deg, #FDA05D 15.61%, #FEBB02 85.11%);
    }

    &--people:nth-child(2n) {
        background: #c0e5ff;
    }

    &--people:nth-child(3n) {
        background: #f2f5fc;
    }
}

.slider-swiper .swiper-pagination-bullet {
    margin: 0 7.5px !important;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    background-color: #dde0e4;
    transition: all .2s ease-out;

    @include breakpoint($bp-767) {
        width: 10px;
        height: 10px;
    }

    &.swiper-pagination-bullet-active {
        width: 45px;
        height: 15px;
        line-height: 15px;
        font-size: 14px;
        background-color: #0071c2;
        border-radius: 50px;

        @include breakpoint($bp-767) {
            height: 10px;
        }
    }
}

.slider-swiper .swiper-pagination {
    padding: 24px;
    position: static;

    &--mobile {
        display: none;

        @include breakpoint(1400px) { 
            display: block;
        }
    }

    @include breakpoint($bp-991) { 
        padding: 20px;
    }

}

.swiper-pagination--bullet .swiper-pagination-bullet {
    margin: 0 5px !important;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    background-color: #c8c8c8;
    transition: all .2s ease-out;

    @include breakpoint($bp-767) {
        width: 10px;
        height: 10px;
    }

    &.swiper-pagination-bullet-active {
        width: 15px;
        height: 15px;
        line-height: 15px;
        font-size: 14px;
        background-color: #0071c2;
        border-radius: 50%;

        @include breakpoint($bp-767) {
            width: 10px;
            height: 10px;
        }
    }
}

.slider-buttons {

    @include breakpoint(991px) {
        display: none;
    }

    &--final-design {
        .swiper-button-prev,
        .swiper-button-next {
            top: 60%;
        }
    }

    &--people {
        display: flex;

        .swiper-button-prev {
            margin-right: 20px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            position: static;
            transform: translateY(0%);
        }

        @include breakpoint($bp-991) { 
            display: none;
        }
    }

    @include breakpoint(1200px) {
        &--mobile {
            display: none;
        }
    }
}

.swiper-button-prev.swiper-button-prev-arrow,
.swiper-button-next.swiper-button-next-arrow {
    width: 50px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 15px;
    transform: translateY(-50%);
    box-shadow: unset;
    bottom: 10px;
    top: unset;
    box-shadow: unset !important;
}

.swiper-button-prev.swiper-button-prev-arrow {
    box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.08);
    background-color: transparent;
    border: none;
    background-image: url('/assets/images/arrow-prev.svg');

    &.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
        background-image: url('/assets/images/arrow-prev.svg');
        background-color: unset;
        border: unset;
        opacity: 0.3;
    }
}

.swiper-button-next.swiper-button-next-arrow {
    box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.08);
    background-color: transparent;
    border: none;
    background-image: url('/assets/images/arrow-next.svg');

    &.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
        background-image: url('/assets/images/arrow-next.svg');
        background-color: unset;
        border: unset;
        opacity: 0.3;
    }
}


.swiper-button-prev,
.swiper-button-next {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    transform: translateY(-50%);
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.08);
    background-color: #0071c2;
    border: none;
    background-image: url('/assets/images/arrow-white-prev.svg');

    &.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
        background-image: url('/assets/images/arrow-grey-prev.svg');
        background-color: transparent;
        border: 1px solid #bdbdbd;
        opacity: 0.3;
    }
}

.swiper-button-next {
    box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.08);
    background-color: #0071c2;
    border: none;
    background-image: url('/assets/images/arrow-white-next.svg');

    &.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
        background-image: url('/assets/images/arrow-grey-next.svg');
        background-color: transparent;
        border: 1px solid #bdbdbd;
        opacity: 0.3;
    }
}

.slider-swiper-img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* final-design-slider */
.slider-swiper-final-design {
    margin-bottom: 77px;
}

.item-final-design {
    @include breakpoint(1400px) {
        max-width: 850px;
        margin: 0 auto;
    }

    @include breakpoint(1200px) {
        max-width: 750px;
        margin: 0 auto;
    }
}

.item-mobile {
    @include breakpoint(1400px) {
        max-width: 300px;
        margin: 0 auto;
    }

    @include breakpoint(1200px) {
        max-width: 100%;
    }
}



