.slider-swiper {
    
}


/* final-design-slider */
.final-design-slider {
    margin-bottom: 77px;
}

.swiper-container {

}

.final-design-slider__wrapper {

}

.swiper-wrapper {

}

.final-design-slider__slide {
    max-width: 980px;
    width: 100%;
}

.final-design-slider__img {
    // display: block;
    // width: 100%;
    // max-width: 100%;
}

/* people-slider */
.people-slider {
    margin-bottom: 45px;
}