.stages-work {
    display: flex;
    flex-wrap: wrap;
    padding: 45px 0 45px;
}

.stages-work__item {
    max-width: 468px;
    width: 100%;

    &:nth-child(2n) {
        padding-top: 170px;
        margin-left: 132px;
    }

}

.stages-work__link {
    text-decoration: none;

    &:hover .stages-work__content {
        background: linear-gradient(133.93deg, #fda05d 15.61%, #febb02 85.11%);
        box-shadow: 0px 16px 24px -8px #eb652c33;

        &::after {
            background: #ffd151;
            opacity: 0.08;
        }
    }
}

.stages-work__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    margin-bottom: 25px;

    font-size: 30px;
    font-weight: 600;
    color: #fff;

    background: linear-gradient(133.93deg, #aaaaaa 15.61%, #d7d7d7 85.11%);
    border-radius: 50%;
    box-shadow: 0px 16px 24px -8px #AFAFAF33;
    position: relative;

    &::after{
        content: "";
        display: block;
        width: 86px;
        height: 86px;
        border-radius: 50%;
        background: #787878;
        opacity: 0.08;
        z-index: -1;
        position: absolute;
    }
}

.stages-work__title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: #3c3c3c;
    text-transform: uppercase;
}

.stages-work__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #3c3c3c;
}