.success-card {
    display: flex;
    padding: 60px 80px 40px;
    max-width: 980px;

    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    color: #2b2e3f;

    @include breakpoint(1400px) {
        max-width: 850px;
        margin: 0 auto;
    }

    @include breakpoint(1200px) {
        max-width: 750px;
        margin: 0 auto;
    }

    @include breakpoint($bp-991) {
        flex-direction: column;
        padding: 27px 25px 37px;
    }
}

.success-card__inner {
    padding-right: 75px;

    img {
        display: block;
        max-width: 100%;
        height: auto;

        @include breakpoint($bp-575) { 
            height: 80px;
        }
    }

    @include breakpoint($bp-991) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 0;
        margin-bottom: 16px;
    }
}

.success-card__content {

}

.success-card__title {
    margin-bottom: 17px;

    font-size: 28px;
    font-weight: 600;
    line-height: 37px;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &--mobile {
        display: none;
    }

    @include breakpoint($bp-991) {
        display: none;

        font-size: 24px;
        line-height: 32px;

        &--mobile {
            display: block;
        }
    }
}

.success-card__subtitle {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;

    @include breakpoint($bp-991) {
        margin-bottom: 5px;
    }
}

.success-card__list {
    padding-left: 10px;
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 24px;

    li {
        list-style: disc;
        list-style-position: inside;

        &::marker {
            content: "•";
        }
    }
   
}

.success-card__link {
    margin-left: 25px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #2f80ed;

    transition: .2s linear all;
    text-decoration: underline;

    &:hover {
        color: #2f80ed;
        text-decoration: none;
    }
}