
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__col">
                <div class="footer__logo">
                    <img src="/assets/images/logo-footer.svg" alt="logo">
                </div>
                <div class="contacts contacts--footer">
                    <a class="contacts-link" href="tel:7(862)2777042">
                        <img class="contacts-icon" src="/assets/images/phone-white.svg" alt="phone">
                        +7 (862) 277 70 42
                    </a>
                    <a class="contacts-link" href="mailto:info@uniqtripsoft.ru">
                        <img class="contacts-icon" src="/assets/images/mail-white.svg" alt="mail">
                        info@uniqtripsoft.ru
                    </a>
                </div>
            </div>
            <div class="footer__col">
                <nav class="footer-nav">
                    <div class="footer-nav__title">Услуги</div>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">1С Предприятие</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="/bi.html">Бизнес аналитика PowerBI</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">АСУ Logus</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="/bitrix24.html">Битрикс 24</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Разработка сайтов</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Разработка мобильных приложения</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__col">
                <nav class="footer-nav">
                    <div class="footer-nav__title">Компания</div>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="/our-team.html">Команда</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="https://sochi.hh.ru/employer/4322397">Вакансии</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="/projects.html">Проекты</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="/contact-us.html">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__col">
                <nav class="footer-nav">
                    <div class="footer-nav__title">Поддержка</div>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item">
                            <button class="footer-nav__link" type="button" data-modal="js-form-modal-contact">Заказать звонок</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>

<!-- modal -->
<div class="container">
    <div class="modal js-form-modal-contact">
        <div class="modal__content modal__content--contact">
            <button class="modal__close" type="button">
            </button>

            <form class="js-form form form--feedback" action="https://uniqtrip.tmweb.ru/feedback">
                <div class="form__group">
                    <label for="">E-mail</label>
                    <input class="form__control js-req js-email" type="email" placeholder="Ваш e-mail" name="email" required>
                </div>
                <div class="form__group">
                    <label for="">Ваше имя</label>
                    <input class="form__control js-req" type="text" placeholder="Имя" name="name">
                </div>
                <div class="form__group">
                    <label for="">Телефон</label>
                    <input class="form__control js-req js-phone" type="text" name="phone">
                </div>
                <div class="form__group">
                    <label for="">Cообщение</label>
                    <textarea class="form__control form__control--textarea js-req" type="text"
                        placeholder="Напишите нам" name="message"></textarea>
                </div>
                <div class="form__group form__group--btn form__group--contact">
                    <button class="btn btn--blue js-loader" type="submit" value="Отправить">Отправить</button>
                </div>
            </form>

        </div>
    </div>
</div>