
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__col">
                <div class="footer__logo">
                    <img src="/assets/images/logo-footer.svg" alt="">
                </div>
                <div class="contacts contacts--footer">
                    <a class="contacts-link" href="tel:7(862)2777042">
                        <img class="contacts-icon" src="/assets/images/phone-white.svg" alt="">
                        +7 (862) 277 70 42
                    </a>
                    <a class="contacts-link" href="mailto:info@designmodo.com">
                        <img class="contacts-icon" src="/assets/images/mail-white.svg" alt="">
                        info@designmodo.com
                    </a>
                </div>
            </div>
            <div class="footer__col">
                <nav class="footer-nav">
                    <div class="footer-nav__title">Услуги</div>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">1С Предприятие</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Бизнес аналитика PowerBI</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">АСУ Logus</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Битрикс 24</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Разработка сайтов</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Разработка мобильных приложения</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__col">
                <nav class="footer-nav">
                    <div class="footer-nav__title">Компания</div>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Команда</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Вакансии</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Проекты</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__col">
                <nav class="footer-nav">
                    <div class="footer-nav__title">Поддержка</div>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Заказать звонок </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>