<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__top">
                <div class="header__left">
                    <div class="header__logo">
                        <img src="../assets/images/logo.svg" alt="logo">
                    </div>
                    <nav class="nav nav-left-mobile">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a class="nav__link" href="#">Главная</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">Проекты</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">О компании</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header__right">
                    <nav class="nav">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <form class="search" action="/" method="get">
                                    <input class="search__input" type="text" placeholder="Поиск">
                                    <button class="search__btn"></button>
                                </form>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link has-subnav" href="#">RUS</a>
                                <ul class="subnav">
                                    <li>
                                        <a class="subnav__link" href="#">EN</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <button class="js-burger burger" type="button" id="sidebarToggle">
                        <span>Открыть навигацию</span>
                    </button>
                </div>
        
            </div>
            <div class="header__bottom nav-bottom-mobile">
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a class="nav__link" href="#">Битрикс 24</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">Разработка сайтов</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">Разработка мобильных приложений</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">Бизнес - аналитика</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">Сопровождение 1С</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <nav class="mobile-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Главная</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Проекты</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">О компании</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Контакты</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Битрикс 24</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Разработка сайтов</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Разработка мобильных приложений</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Бизнес - аналитика</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Сопровождение 1С</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>