<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__top">
                <div class="header__left">
                    <div class="header__logo">
                        <a href="/">
                            <img src="/assets/images/logo.svg" alt="logo">
                        </a>
                    </div>
                    <nav class="nav nav-left-mobile">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a class="nav__link" href="/">Главная</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="/projects.html">Проекты</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="/copmany.html">О компании</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="/contact-us.html">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header__right">
                    <nav class="nav">
                        <ul class="nav__list">
                            <li class="nav__item search-icon">
                                <form class="search" action="/">
                                    <input class="search__input js-search-input" type="text" placeholder="Поиск">
                                    <div class="search__dropdown">
                                        <ul class="search__list js-search-list">
                                        </ul>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </nav>
                    <button class="js-burger burger" type="button" id="sidebarToggle">
                        <span>Открыть навигацию</span>
                    </button>
                </div>
        
            </div>
            <div class="header__bottom nav-bottom-mobile">
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a class="nav__link" href="#">Битрикс 24</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">Разработка сайтов</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">Разработка мобильных приложений</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">Бизнес - аналитика</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">Сопровождение 1С</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <nav class="mobile-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="/">Главная</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/projects.html">Проекты</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/company">О компании</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/contact-us.html">Контакты</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/bitrix24.html">Битрикс 24</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Разработка сайтов</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Разработка мобильных приложений</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Бизнес - аналитика</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Сопровождение 1С</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>